.file-upload {
    display: none;
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.prescription-upload {
    display: none;
}

#upload-button-prescription {
  font-size: 1.2em;
}

.upload-button-prescription:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}